---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
  - ../common-functions
  
resources:
  - resources/droneshop-configmap.yaml
  - pvc/pvc.yml
  - pipeline/deploy-pipeline.yaml
